@{
    Layout = null;
}

<!DOCTYPE html>

<html>

@* View "MyView"

    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    </head>
    <body>
    <div>
    Hello World (from the view)
    </div>
    </body>

*@

@* Change for ViewBag

    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    </head>
    <body>
    <div>
    @ViewBag.Greeting World (from the view)
    </div>
    </body>

*@

@* Append informatin about party

    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    </head>
    <body>
    <div>
    @ViewBag.Greeting World (from the view)
    <p>We're going to have an exciting party.<br />
    (To do: sell it better. Add pictures or something.</p>
    </div>
    </body>

*@

@* Append link(asp-action) to RsvpForm

    <head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    </head>
    <body>
    <div>
    @ViewBag.Greeting World (from the view)
    <p>We're going to have an exciting party.<br />
    (To do: sell it better. Add pictures or something.</p>

    <a asp-action="RsvpForm">RSVP Now</a>
    </div>
    </body>

*@

@* Append Bootstarp class *@

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>We're going to have an exciting party.</h3>
        <h4>And you are invited</h4>

        <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>

    </div>
</body>

</html>

